#main  {
    height: 100vh;
}

#main>section {
    height: 100vh;
    min-width: 100vw;
    position: relative;
}

#section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#section-1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#section-1 h1 {
    z-index: 2;
    position: relative;
    font-size: 12vw;
    font-family: 'Roboto';
    font-weight: 900;
    font-stretch: extra-expanded;
}

#hero-1 {
    left: -4rem;
}

#hero-2 {
    left: 4rem;
}


.album-list-container {
    box-sizing: border-box;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    padding: 0 10rem;
}

.album-list-container-open {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    gap: 10rem;
}

.bg-text-container {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}


.album-list {
    display: flex;
    justify-content: space-around;
    place-items: center;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    gap: 2vw;
}

.album-list.album-open {
    flex-direction: column;
    overflow: hidden;
    gap: 4rem;
    transform: translateY(70px);
    height: 1500px;
}

.album-list.album-open img.album-img-active {
    width: 500px;
    height: 500px;
    opacity: 1;
}

.album-list.album-open img {
    opacity: 0.2;
    width: 200px;
    height: 200px;
}

.album-list img {
    opacity: 0.8;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.album-img:not(.album-open .album-img):hover {
    cursor: pointer;
    transform: scale(1.2) skew(2deg);
    opacity: 1;
    z-index: 2;
}

.album-back {
    position: absolute;
    left: 5%;
    top: 5%;
}

.album-hovered-title {
    height: 2.5rem;
}

.album-detail a {
    position: relative;
    padding: 1rem;
}



section#singles {
    background: white;
    color: black;
    transform: skew(-5deg);
    width: 120vw;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    place-items: center;
    justify-content: center;

}

.singles-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.singles-list li {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
}

.singles-list li:hover {
    cursor: pointer;
}

.singles-list li a {
    mix-blend-mode: difference;
    color: white;
    font-size: larger;
}

.singles-img {
    position: absolute;
    z-index: -1;
    height: 70%;
    top: -6vh;
    right: 5vw;
}

section#profile {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-img {
    height: 60%;
    position: relative;
}

.profile-img img {
    height: 100%;
}

.profile-img svg.box-svg {
    width: 20%;
    height: 70%;
}

.profile-img:hover {
    cursor: pointer;
}

.profile-img svg.box-svg.box1 {
    left: 14%;
    top: 25%;
}
.profile-img svg.box-svg.box2 {
    left: 31%;
    top: 25%;
}
.profile-img svg.box-svg.box3 {
    left: 50%;
    top: 25%;
    width: 17%;
}
.profile-img svg.box-svg.box4 {
    left: 67%;
    top: 25%;
}
.members a {
    position: relative;
    font-size: larger;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

section#socials {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5rem;
    max-width: 700px;
    width: 70vw;
    min-width: 300px;
}

#main>section>h2 {
    position: absolute;
    place-self: center;
    top: 2rem;
}

.socials-link {
    position: relative;
    display: flex;
    gap: 2rem;
    left: -10rem;
}

#socials a {
    width: 8rem;
    text-align: center;
    font-size: x-large;
}

#socials img {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#socials img:hover {
    transform: rotateZ(-10deg) scale(1.2);
}

#socials img {
    width: inherit;
}


.gaulard {
    position: relative;
    left: 10rem;
    display: flex;
}

#socials .foot {
    position: absolute;
    place-self: center;
    bottom: 0.5rem;
}

